<!DOCTYPE html>
<html lang="{{ opts.lang }}">
<head>
	<meta charset="utf-8">
{%- if opts.normalize_css %}
	<link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css" type="text/css">
{%- endif %}
{%- if opts.sakura_css %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
{%- endif %}
{%- for x in opts.css %}
	<link rel="stylesheet" href="{{ x }}" type="text/css">
{%- endfor %}
{%- for x in opts.script %}
	<script src="{{ x }}"></script>
{%- endfor %}
{{- opts.head|trim|safe}}
</head>

<body>
{{ body|safe }}
</body>
</html>
